.App {
    font-family: sans-serif;
    text-align: center;
  }
  .cards {
    display: flex;
    column-gap: 1%;
    width: 100%;
  }
  .react-card-flip {
    width: 24%;
    height: 100%;
  }
  
  .react-card-front,
  .react-card-back {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 4px rgba(100, 100, 100, 0.5);
  }
  .react-card-front {
    background-color: aquamarine;
  }
  
  .react-card-back {
    background-color: cadetblue;
  }
  
  .card {
    padding: 20px;
    cursor: pointer;
    height: 80px;
  }
  